@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Pen+Script|Raleway|Trade+Winds&display=swap');

:root {
    --main-color: black;
    --secondary-color: white;
    font-family: 'Nanum Pen Script';
    scroll-behavior: smooth;
}

h1, p {
    margin: 0;
    padding: 0;
}

header nav h1 {
    font-family: 'Indie Flower';
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

header nav .top-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

header nav .top-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .top-menu a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 550px) {
    header nav {
        display: flex;
    }

    header nav .top-menu {
        flex: 1;
    }
}

header div {
    background-image: url(../img/woodpecker.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

header .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .banner .title {
    font-size: 5rem;
    font-family: 'Nanum Pen Script';
    text-transform: uppercase;
    color: var(--secondary-color);
}

main .product-list .product-card img {
    display: block;
    width: 100%;
}

main .product-list .product-card .button-container {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 580px) {
    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    main .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    main .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.button {
    height:2em;
    padding:15px 50px;
    margin:20px 40px;
    cursor:pointer;
    display:inline-block;
    color:#FFF;
    font-size:1em;
    border:1px solid #eee;
    background:#eee;
    border-radius:4px;
    line-height:2em;
    border:1px solid #aaa;
    text-decoration:none;

    -webkit-transition: all 0.3s linear;
     -khtml-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

.button:hover{
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

